@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    color: #222;
}

.btnheader {
    border-radius: 20px;
    border: 2px solid transparent;
    color: black;
    align-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 6px;
    transition-duration: 0.3s;
    cursor: pointer;
    opacity: 85%;
    padding-top: 8px;
}


.btnheader:hover {
    background-color: rgb(201, 197, 126);
    border: 2px solid black;
    color: black;
}

.btngeneric {
    border-radius: 20px;
    border: 2px solid transparent;
    color: black;
    background-color: rgb(201, 197, 126);
    align-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 6px;
    padding: .375rem .75rem;
    transition-duration: 0.3s;
    cursor: pointer;
    opacity: 85%;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
}

.btngeneric:hover {
    background-color: rgb(187, 183, 116);
    border: 2px solid #000000;
    color: black;
}


.myrounded {
    border-radius: 40px;
}


.button2 {
    background-color: rgb(201, 197, 126);
    text-decoration: none !important;
    border-radius: 20px;
    font-size: 30px;
    border: 2px solid black;
    padding: 4px 8px 4px 8px;
    color: black;
}

.button2:hover {
    background-color: rgb(201, 197, 126);
    border-radius: 25px !important;
}

.gold:hover {
    color: rgb(151, 148, 97);
}

.active2 {
    background-color: rgb(201, 197, 126);
    border: 2px solid black;
}

.active3 {
    background-color: rgb(201, 197, 126);
    border-radius: 5px;
}

.trashbutton {
    position: relative;
    padding: 2px 8px;
    margin: 3px 0;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.trashbutton:hover {
    color: red;
    top: 0;
}

.book-box {
    background-color: #b29d6847;
    border-radius: 25px;
    box-shadow: 5px 5px 15px grey;
}

.navbar {
    height: auto;
    background-color: white;
    border-bottom: 2px solid black;
}

button:focus {
    outline: 0;
}

.logged {
    border: none;
    background-color: transparent;
    padding: 2px 0 2px 6px;
    margin-top: auto;
    margin-right: 8px;
    color: rgb(201, 197, 126);
    font-size: 2.3em;
    transition-duration: 0.3s;
    outline: none;
}

.dropdown-toggle::after {
    margin-left: 0 !important;
}

.logged:hover {
    color: black;
}

.basket {
    padding: 2px 10px 2px 6px;
    margin: auto;
    color: rgb(201, 197, 126);
    font-size: 2.2em;
}


.navbar-nav a:hover {
    text-decoration: none;
    color: #000000;
}

.navbar-brand img {
    max-height: 65px;
    margin-left: auto;
    padding-top: 0;
    opacity: 85%;
}

.nav-link {
    font-size: 1.2em !important;
}

.collapse {
    background-color: white;
    transition: none;
}

.fixit {
    margin: auto;
    overflow: auto;
    text-align: left;
    width: 75%;
}

.carousel-height {
    text-align: center;
    margin: auto;
    height: 650px;
}

.carousel-inner img {
    size: auto;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption p {
    font-size: 150%;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px #000;
}

.padding {
    padding-bottom: 2rem;
}

.welcome {
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.welcome p {
    text-align: center;
}

.profile-img {
    max-height: 160px;
    float: right;
    padding-left: 10px;
}

.prova {
    text-align: center;
    margin: 0 auto;
}

.fast {
    color: #e54d26;
    opacity: 80%;
}

.cheap {
    color: #563d7c;
    opacity: 80%;
}

.love {
    padding-top: 15px;
    color: #2163af;
    opacity: 80%;
}

.fa-code, .fa-bold, .fa-css3 {
    font-size: 4em;
    margin: 1rem;
}

.fun {
    width: 100%;
    margin-bottom: 2rem;
}

.gif {
    max-width: 100%;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-youtube {
    color: #bb0000;
}

.fa-instagram {
    color: #517fa4;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-youtube:hover,
.fa-instagram:hover {
    color: #d5d5d5;
}

.social a {
    font-size: 2.5em;
    padding: 4.5px;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    border-top: 2px solid black;
}

footer img {
    height: 4.8rem;
}

footer p {
    font-size: 0.8em;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}


/* ----------------------------------------- flag-icon -------------------------------------------*/

.flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.flag-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;

}

.flag-icon:before {
    content: "\00a0";
}

.flag-icon.flag-icon-squared {
    width: 1em;
}

.flag-icon-it {
    background-image: url(../../img/flag/it.svg);
    margin-right: 6px;
}

.flag-icon-gb {
    background-image: url(../../img/flag/gb.svg);
    margin-right: 6px;
}

/* ------------------------------------------------- SHOP PAGE ------------------------------------------------------ */


.button3 {
    background: #ededed linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    border-radius: 6px;
    border: 1px solid #d6bcd6;
    display: block;
    cursor: pointer;
    color: #202224;
    font-size: 18px;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #e1e2ed;
    height: 31px;
}

.button3:hover {
    background: #bab1ba linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    color: #1e1c18;
}

.button3:active {
    position: relative;
    top: 1px;
}

.no-products-container {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.no-products-title {
    font-weight: bold;
    font-size: 3em;
    padding: 25px;
}

.no-products-thumb {
    vertical-align: middle;
    height: 120px;
    width: 120px;
}

.no-products-container p {
    margin-top: 30px;
    font-style: italic;
}


/* ------------------------------------------------- PRODUCT PAGE --------------------------------------------------- */

.card-img-top {
    width: auto !important;
    /*height: 300px !important;*/
}

.tab-content img {
    width: auto !important;
    /*    height: 700px !important;*/
}


.main {
    margin-left: 5px;
}

.counter {
    height: 38px;
    width: 60px;
    border-radius: 0 !important;
    text-align: center;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    max-width: 100%;
    max-height: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.cart-img img {
    max-width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


.tab-content-shop img {
    max-width: 100%;
    max-height: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 50px;
    padding-bottom: 200px;
    margin: auto;
}

.card {
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
    height: 500px;
}

.card2 {
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
}

.toBottom {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}


@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.old-price {
    color: #706b72;
    text-decoration: line-through;
    font-size: 1em;
}

.discounted-price {
    font-size: 1.4em;
}

.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}

.checked, .price span {
    color: #ff9f1a;
}

.product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

.size {
    margin-right: 10px;
}

.size:first-of-type {
    margin-left: 40px;
}

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
}

.color:first-of-type {
    margin-left: 20px;
}

.add-to-cart, .like {
    padding: 0.8em 1.1em;
    margin: 0 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.not-available {
    text-align: center;
    line-height: 2em;
}

.not-available:before {
    content: "\f00d";
    color: #fff;
}

.orange {
    background: #ff9f1a;
}

.green {
    background: #85ad00;
}

.blue {
    background: #0076ad;
}

.tooltip-inner {
    padding: 1.3em;
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
        -webkit-transform: scale(3);
        transform: scale(3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/*
 *  Every hr that's descendent of a div with class="card" add this trick to visualize it
 *  https://github.com/twbs/bootstrap/issues/23032
 */
div[class="card"] hr {
    margin-left: 0;
    margin-right: 0
}

/*Note of error when user select a quantity > of quantity available*/
.max-qta-reached {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
}

/******************************************************/
/*This 2 rules remove arrows/spinners from input type.*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*******************************************************/

/* ------------------------------------------------- LOGIN ---------------------------------------------------------- */


/*.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
}*/

.clearfix {
    overflow: auto;
}

.modal-body {
    background-color: rgba(201, 197, 126, 0.5);
    padding: 20px;
    border-bottom: black solid 2px;
}

.modal-footer {
    border-top: 0 !important;
}

/* ------------------------------------------------- CONTACT PAGE --------------------------------------------------- */

.image-contact {
    position: relative;
    padding-top: 20px;
}

.text {
    left: 0;
    position: absolute;
    text-align: center;
    top: 187px;
    width: 100%;
    color: rgb(203, 200, 107);
    font-size: 50px;
}

.contact-form > h1 {
    color: #706b72;
}

.back-form-contact {
    background-color: rgba(201, 197, 126, 0.7);
    padding: 2.8rem !important;
    border-radius: 25px;
}

.btn-contact-form {

    width: 32%;
    margin: auto;
    height: 47px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.my-alert {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-top: 25px;
}

/*------------------------------------------------- Media Queries ----------------------------------------------------*/

/* Use only for fine tuning responsive web site*/

@media (max-width: 992px) {
    .social a {
        font-size: 2em;
        padding: 4px;
    }

    .carousel-height {
        text-align: center;
        margin: auto;
        height: 500px;
    }

}

@media (max-width: 768px) {
    .carousel-caption {
        top: 45%;
    }

    .carousel-caption h1 {
        font-size: 350%;
    }

    .display-4 {
        font-size: 200%;
    }

    .social a {
        font-size: 3.2em;
        padding: 1.2rem;
    }

}

@media (min-width: 576px) {
    .modal-width {
        max-width: 550px;
    }
}


@media (max-width: 576px) {

    .carousel-caption {
        top: 40%;
    }

    .carousel-caption h1 {
        font-size: 250%;
    }

    .carousel-indicators {
        display: none;
    }

    .display-4 {
        font-size: 160%;
    }

    .social a {
        font-size: 3.5em;
        padding: .72rem;
    }


}

/* ---------------------------------------------- CUSTOMER SECTION -------------------------------------------------- */

.btn-cust {
    border-radius: 20px;
    border: 2px solid transparent;
    color: black;
    align-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 6px;
    transition-duration: 0.2s;
    opacity: 85%;
    padding: 6px 12px;
}

.btn-cust:hover {
    background-color: rgb(201, 197, 126);
    border: 2px solid black;
}


/* ---------------------------------------------- CART CSS ---------------------------------------------------------- */

.btn-outline-gold {
    color: rgb(201, 197, 126);
    border-color: #989451;
}

.btn-outline-gold:hover {
    color: #fff;
    background-color: rgb(201, 197, 126);
    border-color: white;
}

.btn-gold-active {
    color: #fff;
    background-color: rgb(201, 197, 126);
    border-color: white;
}

.cart-box {
    background: #f0e6cc;
    padding: 3em;
    line-height: 1.5em;
    border-radius: 25px;
}

.param {
    margin-bottom: 7px;
    line-height: 1.4;
}

.param-inline dt {
    display: inline-block;
}

.param dt {
    margin: 0;
    margin-right: 7px;
    font-weight: 600;
}

.param-inline dd {
    vertical-align: baseline;
    display: inline-block;
}

.param dd {
    margin: 0;
    vertical-align: baseline;
}

.shopping-cart-wrap .price {
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    display: block;
}

var {
    font-style: normal;
}

.media img {
    margin-right: 1rem;
}

.img-sm {
    width: auto;
    max-height: 75px;
}


/* ---------------------------------------------- END OF CART CSS --------------------------------------------------- */


/* -------------------------------------------- PRODUCT CAROUSEL HOME PAGE -------------------------------------------*/

/*body {*/
/*    font-family: "Open Sans", sans-serif;*/
/*}*/
/*h2 {*/
/*    color: #000;*/
/*    font-size: 26px;*/
/*    font-weight: 300;*/
/*    text-align: center;*/
/*    text-transform: uppercase;*/
/*    position: relative;*/
/*    margin: 30px 0 80px;*/
/*}*/
/*h2 b {*/
/*    color: #ffc000;*/
/*}*/
/*h2::after {*/
/*    content: "";*/
/*    width: 100px;*/
/*    position: absolute;*/
/*    margin: 0 auto;*/
/*    height: 4px;*/
/*    background: rgba(0, 0, 0, 0.2);*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: -20px;*/
/*}*/
.carousel {
    margin: 50px auto;
    padding: 0 70px;
}

.carousel .item {
    min-height: 330px;
    text-align: center;
    overflow: hidden;
}

.carousel .item .img-box {
    height: 184px;
    width: 100%;
    position: relative;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.carousel .item img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.carousel .item h4 {
    font-size: 18px;
    margin: 10px 0;
}

.carousel .item .btn {
    color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}

.carousel .item .btn:hover, .carousel .item .btn:focus {
    color: #fff;
    background: #000;
    border-color: #000;
    box-shadow: none;
}

.carousel .item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.carousel .thumb-wrapper {
    text-align: center;
    height: 370px;
}

.carousel .thumb-content {
    padding: 15px;
}

.carousel .carousel-control {
    height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}

.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.54);
    border-radius: 10px
}

.carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.6);
}

.carousel .item-price {
    font-size: 13px;
    padding: 2px 0;
}

.carousel .item-price strike {
    color: #999;
    margin-right: 5px;
}

.carousel .item-price span {
    color: #ffaa00;
    font-size: 140%;
    font-weight: 800;
}

.carousel .carousel-control.left i {
    margin-left: -3px;
}

.carousel .carousel-control.left i {
    margin-right: -3px;
}

.carousel .carousel-indicators {
    bottom: -50px;
}


/* ------------------------------------------- ENDO OF PRODUCT CAROUSEL HOME PAGE -----------------------------------*/


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 0.8rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/






