# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/out/
#Ignore file related to Database
/.idea/dataSources.xml
/.idea/dataSources.local.xml
/.idea/dataSources/
#Ignore file of configuration
/src/services/
/.idea/shelf/
#Ignore words added locally to personal dictionaries
/.idea/dictionaries/
#Ignore inspectionProfiles
/.idea/inspectionProfiles/
/.idea/statistic.xml
